body {
	max-width: 480px;
    padding: 0 10px;
    margin: 0 auto;
    font: 1em/1.4 Calibri, sans-serif;
    color: #222;
    background: #fff;
}

h1 { 
    margin: 0.25em 0 0.5em;
    font-size: 3.5em;
    font-weight: bold; 
    text-decoration: none; 
    color: #6EAD1A; 
}

h2 { 
    margin: 1.25em 0 0.75em;
    font-size: 1.5em; 
    text-decoration: none; 
}

a { 
    font-weight:bold; 
    text-decoration: none; 
    color: #6EAD1A; 
}

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}

a:hover, 
a:focus, 
a:active { 
    text-decoration: underline; 
    color: #6EAD1A; 
}

strong {
    font-weight: bold;
}

ul {
    list-style: square;
    padding: 0;
    margin: 1.4em 0;
}

li {
    margin: 0.35em 0;
}

p {
    margin: 0 0 1em;
}